.container {
    height: 100%;
    display: grid;
    place-items: center;
    padding: 3rem 0;
  }
  
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
  
  .styled-table thead tr {
    background-color: #cd1f32;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 28px;
    text-align: center;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #e8e8e8;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #cd1f32;
  }
  
  .custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #cd1f32;
    color: white;
    border-radius: 10px;
  }
  
  #file-upload {
    display: none;
  }
  
  .custom-file-button {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #cd1f32;
    color: white;
    border-radius: 10px;
    outline: 0px;
    border: 0px;
    font-family: sans-serif;
  }
  
  .upload-container {
    display: flex;
    column-gap: 2rem;
  }