@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body,
.MuiTypography-root,
* {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.container {
  height: 100%;
  display: grid;
  place-items: center;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #cd1f32;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 28px;
  text-align: center;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #e8e8e8;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #cd1f32;
}

.custom-file-upload {
  font-size: medium;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #cd1f32;
  color: white;
  border-radius: 10px;
}

#file-upload {
  display: none;
}

.custom-file-button {
  font-size: medium;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #cd1f32;
  color: white;
  border-radius: 10px;
  outline: 0px;
  border: 0px;
}

.upload-container {
  display: flex;
  column-gap: 2rem;
  margin: 2rem 0;
}

.table-header {
  text-align: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"] {
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

form input[type="submit"] {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #cd1f32;
  color: white;
  cursor: pointer;
  margin-top: 15px;
}

form input[type="submit"]:hover {
  background-color: #cd1f32;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.scc-table {
  margin-top: 3rem;
  border-collapse: collapse;
  width: 100%;
}

.scc-table th,
.scc-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.scc-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.scc-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #cd1f32;
  color: white;
}